{{define "body"}}
<ul>
  {{range .states}}
  <li>
    <form action="/db/stateU" method="post" target="_blank">
      <h4>{{.Name}}</h4>
      <input type="text" name="stateName" value="{{.Name}}"><br>
      <label>id :</label> <input type="number" name="stateId" value="{{.Id}}"><br>
      <label>land:</label> <input type="number" name="airableLand" value="{{.AirableLand}}"> <br>
      <h5>Resources: </h5>
      <p>
      <ul>
        <li>Iron: <input type="number" name="Iron" value="{{.IronCap }}"></li>
        <li>Coal: <input type="number" name="Coal" value="{{ .CoalCap }}"></li>
        <li>Sulfur: <input type="number" name="Sulfur" value="{{ .SulfurCap }}"></li>
        <li>Lead: <input type="number" name="Lead" value="{{ .LeadCap }}"></li>
        <li>Wood: <input type="number" name="Wood" value="{{ .WoodCap }}"></li>
        <li>Fish: <input type="number" name="Fish" value="{{ .FishCap }}"></li>
        <li>Whales: <input type="number" name="Whales" value="{{ .WhaleCap }}"></li>
        <li>Oil: <input type="number" name="Oil" value="{{ .OilCap }}"></li>
        <li>Rubber: <input type="number" name="Rubber" value="{{ .RubberCap }}"></li>
      </ul>
      </p>
      <input type="submit" value="Update">
    </form>
  </li>
  {{end}}
</ul>
{{end}}